[graph]
targets = [
  "x86_64-unknown-linux-gnu",
  "aarch64-unknown-linux-gnu",
  "x86_64-unknown-linux-musl",
  "aarch64-apple-darwin",
  "x86_64-apple-darwin",
  "x86_64-pc-windows-msvc",
]
all-features = true

[advisories]
ignore = ["RUSTSEC-2024-0436"]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
required-git-spec = "rev"

[licenses]
allow = [
  "MIT",
  "Apache-2.0",
  "Unicode-3.0",
  "Zlib",         # https://opensource.stackexchange.com/a/13443
  "GPL-3.0-only",
  "BSD-3-Clause",
  "CC0-1.0",
  "MPL-2.0",
  "ISC",
  "BSL-1.0",
  "BSD-2-Clause",
]
confidence-threshold = 1.0
