name: Code Style

on:
  pull_request:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.91.0
      - uses: tecolicom/actions-use-homebrew-tools@v1
        with:
          tools: "fontconfig"
      - uses: Swatinem/rust-cache@v2

      - name: Install nightly rustfmt
        # https://stegosaurusdormant.com/rustfmt-nightly/
        run: rustup toolchain install nightly --allow-downgrade -c rustfmt
      - name: Lint
        run: cargo clippy --all --all-targets -- --deny warnings
      - name: Check formatting
        run: cargo +nightly fmt --check
